<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <ul>
        <% if (locals.users) {%>
            <% users.forEach(user => { %>
                <li>ID: <%= user.id %>, Name: <%= user.username %><a href="/delete-user?id=<%= user.id %>" onclick="return confirm('Are you sure?')">Delete</a></li>
            <% }); %>
        <% } %>
    </ul>
    <form action="/" method="GET">
        <label for="search">Find User: </label>
        <input type="text" name="search" id="search" required>
        <button type="submit">Search</button>
    </form>
    <% if (locals.searchData) { %>
        <a href="/">See All Users</a><br />
    <% } %>
    <a href="/new">Add User</a>
</body>
</html>