<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <ul>
        <% if (locals.users) {%>
            <% users.forEach(user => { %>
                <li>ID: <%= user.id %>, Name: <%= user.username %></li>
            <% }); %>
        <% } %>
    </ul>
    <a href="/new">Add user</a>
</body>
</html>